html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.imgNetflix {
  width: 150px;
  height: auto;
}

.titleNetflix {
  font-size: 4rem;
  font-weight: 500;
}
.img-fluid {
  opacity: 0.5;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.img-fluid:hover {
  opacity: 1;
  transform: scaleX(1.1) scaleY(1.1);
  transition: 0.7s;
  z-index: 999;
}
.imgProfile {
  width: 30px;
  height: 30px;
}
/*Edit Profile*/
.btnborder {
  border: 2px solid #302f2f;
}

.btnborder:hover {
  background-color: white;
  cursor: pointer;
}

.contentAvatar img {
  width: 150px;
}

.contentTest {
  width: fit-content;
  background-color: #212529;
}

.form-check-input {
  cursor: pointer;
  background-color: transparent !important;
  border-color: white !important;
}

.form-check-input:checked {
  border-color: #007bff;
  background-color: blue !important;
}

.contentHeader {
  display: flex;
  justify-content: start;
  width: auto;
}
